<div *ngIf="wallet">
  <ion-app>
    <div>
      <ion-toolbar border-width="0">
        <div class="header">
          <ion-icon name="arrow-back" mode="md" (click)="goback()"></ion-icon>
          <span class="title">Preference</span>
        </div>
      </ion-toolbar>
    </div>


    <!--you can add fullscreen attribute-->
    <ion-content text-center id="content" no-padding>
      <div class="main">
        <div class="top">
          <ion-item class="label">
            <ion-label>
              Preference
            </ion-label>
          </ion-item>
        </div>

        <div class="options">
          <div class="item" padding>
              <span class="key">
                Name
              </span>

              <span class="value">
                {{wallet.name}}
              </span>
          </div>

          <div class="item advanced" padding>
              <span class="key">
                Advanced
              </span>
          </div>

          <div class="item" padding>
              <span class="key">
                Export Wallet
              </span>
          </div>

          <div class="item" padding (click)="presentModal('delete_warning')">
              <span class="delete-wallet key">
                Delete Wallet
              </span>
          </div>
        </div>
      </div>
    </ion-content>

  </ion-app>
</div>