
<div *ngIf="wallet">
  <ion-app>
      <ion-header no-border>
          <ion-toolbar border-width="0" no-border>
              <div class="header">
                  <ion-icon name="arrow-back" mode="md" (click)="goback()"></ion-icon>
                  <span class="title" [hidden]="!labelShow">Preference</span>
              </div>
          </ion-toolbar>
      </ion-header>

    <!--you can add fullscreen attribute-->
    <ion-content text-center id="content" no-padding [scrollEvents]="true"
                 (ionScroll)="onScroll($event)">
      <div class="main">
        <div class="top">
          <ion-item class="label" >
            <ion-label [hidden]="labelShow" [ngStyle]="{'opacity': labelOpts.opacity}" >
                <span [ngStyle]="{'font-size': labelOpts.fontSize + 'px'}">Preference</span>
            </ion-label>
          </ion-item>
        </div>

        <div class="options" scroll-y="true" scrolly="true" (ionScroll)="onScroll()">
          <div class="item" padding>
              <span class="key">
                Name
              </span>

              <span class="value">
                {{wallet.name}}
              </span>
          </div>

          <div class="item advanced" padding>
              <span class="key">
                Advanced
              </span>
          </div>

          <div class="item" padding>
              <span class="key">
                Export Wallet
              </span>
          </div>
          <div class="item" (click)="presentModal('create_address')" padding>
            <span class="key">
              Add Recipient
            </span>
          </div>

          <div class="item" padding (click)="presentModal('delete_warning')">
              <span class="delete-wallet key">
                Delete Wallet
              </span>
          </div>
        </div>
      </div>
    </ion-content>

  </ion-app>
</div>