ion-tabs{
  ion-tab-bar{
    width: 80%;
    margin: 0 auto;
    height: 10vh;
    max-height: 65px;
  }
  .bar{
    background: #f8f8f8;
  }
}


.header{
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
  color: white;

  ion-icon{
    font-size: 24px;
  }
}

ion-header{
  background: var(--ion-color-primary) !important;
}

ion-header:after{
  bottom: 0 !important;
  height: 0 !important;
}

ion-toolbar {
  --background: var(--ion-color-primary) !important;
  --border-color: none;
  --border-width: 0;
  .toolbar-container{
    padding: 14px !important;
    max-height: 60px  !important;
  }
}

ion-toolbar:last-child{
  --border-width: 0;
}


