<ion-content padding>
    <div class="container">
        <div class="header">
            <img class="warning-img" src="/assets/img/warning.svg">
            <br>
            <div class="title">
                <ion-title>{{ 'onboarding-pages.mnemonic_bk.title' | translate }}</ion-title>
            </div>
            <ion-card-subtitle>{{ 'onboarding-pages.mnemonic_bk.subtitle' | translate }}</ion-card-subtitle>
        </div>

        <div class="buttons">
            <img src="/assets/img/tab-icons/ico-receive.svg" class="download">
            <ion-button text-capitalize="false" size="large" class="btn" color="success" color-focused="primary" expand="block" (click)="backup()">{{ 'onboarding-pages.mnemonic_bk.btn_backup' | translate }}</ion-button>
            <ion-button text-capitalize="false" size="large" class="btn" color="success" color-focused="primary" expand="block" routerLink="/index/agreement">{{ 'onboarding-pages.mnemonic_bk.btn_skip' | translate }}</ion-button>
        </div>
    </div>
</ion-content>

