<div class="container">
        <div class="content">
            <img src="/assets/img/ghost-tongue-out.svg" alt="">
            <br>
            <div class="title">{{"home.empty_wallets.title" | translate}}</div>
            <br>
            <div class="subtitle">{{"home.empty_wallets.subtitle" | translate}}</div>
            <br>
            <ion-button size="large" text-capitalize="false" class="btn" color="primary" color-focused="primary" expand="block" routerLink="/home/new_wallet">
                {{"home.empty_wallets.btn_create" | translate}}
            </ion-button>
        </div>
</div>