.container{

}


.header{
  height: 60px;
  top: 30px;
  display: flex;
  align-items: center;
  color: white !important;

  background: var(--app-bg-color);

  ion-icon{
    font-size: 35px !important;
    margin-left: 5%;
  }

  .title{
    width: 100%;
    text-align: center;
    margin-left: -30px;
    font-weight: bold;
  }
}

.content{
  .select{

    ion-card{
      margin: 30px auto !important;
    }

    .item{
      max-height: 80px;
      margin-top: 5%;
      max-width: 480px;
      border: 1px solid ghostwhite;
      height: 9vh;
      position: relative;
      padding: 10px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      ion-icon{
        font-size: 32px;
        color: gold;
      }

      span{
        width: 100%;
        font-size: 18px;
        margin-left: 5%;
        font-weight: 500;
        color: #5a5d61;
      }
    }
  }
}