

ion-toolbar{
  --opacity: 0;
  --padding-top:var(--ion-safe-area-top, 0);
  height: 60px;
  display: flex;
  background: var(--ion-color-primary);
  color: var(--app-font-color);
}

ion-header{
  background-color: var(--ion-color-primary);
}

ion-title{
  width: 110%;
}

.header{
  display: flex;
  justify-content: space-between;
  padding: 0 10px;

  ion-icon{
    font-size: 24px;
  }
}

.dismiss{
  width: 80%;
  max-width: 350px;
  margin: 0 auto;
}

.title{
  color: orangered;
}

.subtitle{
  display: inline-block;
  margin-top: 20px;
  margin-bottom: 20px;
}

.first{
  margin-top: 80px;
}

.create{
  bottom: 8%;
  left: 0;
  position: absolute;
  width: 100%;
}

.label{
  color: var(--ion-color-primary);
}